streamlit
python-docx
python-pptx
pandas
python-telegram-bot
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
openpyxl
Pillow
pytesseract==0.3.10
python_dateutil==2.8.2
streamlit==1.17.0
langchain_community
