google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
openpyxl
pytesseract==0.3.10
python_dateutil==2.8.2
streamlit==1.17.0
langchain_community
streamlit==1.18.1
Pillow==9.4.0
langchain==0.0.123
langchain-google-genai==0.0.2
langchain-community==0.0.14
google-generativeai==0.1.2
